---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif      : "Great Vibes", Georgia, Times, serif;
$sans-serif : "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

// $background-color: #F7D5D7;

.masthead, .masthead__inner-wrap nav {
    background: #002F69;
}

.greedy-nav a {
    color: #ffffff !important;

}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-logo img {
    max-height: 1.5rem;
    margin-right: 5px;
}

.search__toggle, .greedy-nav__toggle {
    color: #ffffff;
}

.navicon, .navicon::before, .navicon::after {
    background: #ffffff;
}

.greedy-nav .hidden-links {
    background: #002F69;
    width: 100%;
    text-align: center;
}

.greedy-nav .visible-links {
    font-size: medium;
}