---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif      : "Great Vibes", Georgia, Times, serif;
$sans-serif : "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#main {
    margin-top: 25px;
}

.site-logo img {
    max-height: 1.5rem;
    margin-right: 5px;
}

.search__toggle, .greedy-nav__toggle {
    color: #ffffff;
}

.navicon, .navicon::before, .navicon::after {
    background: #ffffff;
}

.greedy-nav__toggle:hover .navicon, .greedy-nav__toggle:hover .navicon:before, .greedy-nav__toggle:hover .navicon:after {
    background: #F7D5D7;
}

// Navigation bar
.masthead {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: rgba(0, 47, 105, 0.95);
}

.greedy-nav a {
    color: #ffffff;
}

.greedy-nav {
    background: none;
}

// Hidden nav in hamburger menu
.greedy-nav .hidden-links {
    background: rgba(0, 47, 105, 0.95);
    width: 100%;
    text-align: center;
}

.greedy-nav .visible-links {
    font-size: medium;
}

.greedy-nav a:hover {
    color: #F7D5D7;
}

.greedy-nav .visible-links a:before {
    height: 2px;
    background: #F7D5D7;
}

.half-page {
    height: 50vh;
    overflow: hidden;
    vertical-align: middle;
}

// Splash page picture
.splash-container {
    height: 75vh;
    // background-image: url("../../assets/images/jprh-33.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;   
    position: relative; 
    text-align: center;
}

.index-img {
    background-image: url("../../assets/images/jprh-33.jpg");
}

.rsvp-img {
    background-image: url("../../assets/images/dshipfriends12.jpg");
}

.splash-txt {
    position: absolute;
    text-align: center;
    color: #002F69;
    width: 100%;
    font-family: "Great Vibes";
    font-size: 3em;
    top: 2.5%;
}

.splash-btn {
    position: absolute;
    bottom: 1%;
    background: none;
    color: white;
}

.splash-btn:hover {
    color: #F7D5D7;
}

.splash-btn:visited {
    color: white;
}

:target {
    display: block;
    position: relative;
    top: -100px; 
    visibility: hidden;
}

.index-container {
    text-align: center;
    margin: 4em 0 4em;
}

.index-container p {
    margin: 0 0 0.5em;
}

.page__content {
    text-align: center;
}

// How splash image appears for mobile devices
@media only screen and (max-width: 600px) {
    .splash-container {
        height: 50vh;
    }

    .splash-txt {
        font-size: 2.5em;
    }
}

.img-circle {
    border-radius: 50%;
    width: 25em;
    margin: 25px;
}