---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}


<div class="index-img splash-container" role="img" aria-label="Rebekah and Josiah together after proposal">
  <h1 class="splash-txt">
      We're getting married!
  </h1>
  <a class="splash-btn" href="#content">
      <i class="fa fa-angle-down"></i>
  </a>
</div>

<div id="main" role="main">

  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      <div id="content" class="anchor"></div>

      {{ content }}

      <br><br>

      <div class="index-container">
        <h1>The Details</h1>
        <p>Saturday, June 27, 2020</p>
        <p>Ceremony starts at 2pm</p>
      </div>

      <div class="index-container">
          <a id="venue"></a>
          <img src="assets/images/castle.jpg" class="img-circle" alt="Castle Noland">
          <h1>The Venue</h1>
          <p>Castle Noland</p>
          <p>6445 Monte Rd.<br>San Luis Obispo, CA 93401</p>
          <i>The ceremony and reception will be outdoors!</i>
      </div>

      <div class="img-flex-container">
        <div class="post">
            <img src="assets/images/post.png" alt="post hashtag">
        </div>
        <div class="post-text">
          <h1 style="margin-top: 0;">A Picture Is Worth A Thousand Words</h1>
          <p>Help us capture the moment, tag your photos with the hashtag <br><a href="https://www.instagram.com/explore/tags/HandranToPang/" target="_blank">#HandranToPang</a></p>
        </div>
      </div>

    </section>
  </article>
</div>
