---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}


<div class="rsvp-img splash-container" role="img" aria-label="Rebekah and Josiah holding hands and walking together">
  <h1 class="splash-txt">
      Celebrate with us!
  </h1>
  <!-- <a class="splash-btn" href="#details">
      <i class="fa fa-angle-down"></i>
  </a> -->
</div>

<div id="main" role="main">

  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <section class="page__content" itemprop="text">
      <div class="form-container">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeeeyvMIEuNGDq6uOdFA_goOfM1KmANN2u8D44T6pRltxb8PQ/viewform?embedded=true" width="640" height="804" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>      <!-- <div class="index-container">
        <a id="details"></a>
        <h1>Details</h1>
        <p>Saturday, June 27 2020</p>
        <p>Ceremony starts at 2pm</p>
      </div> -->

      {{ content }}
    </section>
  </article>
</div>
